################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScoreManagementApi/ScoreManagementApi.csproj
security.txt
appsettings.json
EmailServices.cs