<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Update User</h6>
        <input id="Id" value="@ViewBag.Id" hidden/>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="FullName"
                placeholder="enter full name">
            <label for="FullName">Full Name</label>
            <p id="NameError" class="text-danger"></p>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="Email"
                placeholder="enter email">
            <label for="Email">Email</label>
            <p id="EmailError" class="text-danger"></p>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Username"
                placeholder="enter Username">
            <label for="Username">Username</label>
            <p id="UsernameError" class="text-danger"></p>
        </div>
        <p class="text-warning">*You don't need to input password, If you don't want to change!</p>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="Password"
                placeholder="enter password">
            <label for="Password">Password</label>
            <p id="PasswordError" class="text-danger"></p>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="Gender"
                aria-label="Select Item">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <label for="Gender">Gender</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="Active"
                aria-label="Select Item">
                <option value="1">Active</option>
                <option value="0">InActive</option>
            </select>
            <label for="Active">Status</label>
        </div>
        <div class="form-floating">
            <p id="mess"></p>
            <button id="btnUpdate" class="btn btn-primary" type="submit">Update</button>
            <a class="btn btn-outline-primary" href="/users">Back</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/assets/js/user/update-user.js"></script>