@using ScoreManagementClient.Dtos.Common;
@using ScoreManagementClient.Dtos.SubjectDto;
@using ScoreManagementClient.Dtos.SubjectDto.Response;

@model ResponseData<SubjectResponse>

@{
}
<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Create Subject</h6>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="SubjectName"
                placeholder="enter subject name">
            <label for="floatingInput">Subject Name</label>
            <p id="NameError" class="text-danger"></p>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Description"
                id="Description" style="height: 150px;"></textarea>
            <label for="floatingTextarea">Description</label>
            <p id="DescriptionError" class="text-danger mt-2"></p>
        </div>
        <div class="form-floating">
            <p id="mess"></p>
            <button id="btnCreate" class="btn btn-primary" type="submit">Create</button>
            <a class="btn btn-outline-primary" href="/subjects">Back</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/assets/js/subject/create-subject.js"></script>